*.class
*.iml
*.war
.DS_Store
.DS_Store?
._.DS_Store
_idea_old/
.idea/
target/
!vagrant/deploy/git.anchor
vagrant/deploy
vagrant/filesystems
.vertx
**/docs/*.html
**/docs/*.md
**/docs/*.pdf
**/buildInfo.json
.vagrant/
lics/Apache License-2.0.md
lics/Apache Software License-2.0.md
lics/GPL-v2.md
lics/EPL-1.0.md
lics/Eclipse Public License-v1.0.md
lics/licenses.md

./APS-Network/APSVertXProvider/buildInfo.json
./APS-Webs/APSWebManager/buildInfo.json

lics/
Testing.java
!/README.md
