body {
    padding-top: 70px
}
/*.slide-image {*/
    /*width: 100%;*/
/*}*/
/*.carousel-holder {*/
    /*margin-bottom: 30px;*/
/*}*/
/*.carousel-control,.item {*/
    /*border-radius: 4px;*/
/*}*/
/*.caption {*/
    /*height: 130px;*/
    /*overflow: hidden;*/
/*}*/
.caption h4 {
    white-space: nowrap;
}
footer {
    margin: 50px 0;
}
